.contentContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color:  #DCDCDC;
}
.containerLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 3%;
  
}
.containerLogo h1{
  color:  #2F4F4F;
  font-size: 6rem;
}
.containerLogo h2{
  color: #A9A9A9;
}

.containerLogin{
  height: 70vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  position: relative;
  animation-name: containerLogin;
  animation-delay: 0s;
  animation-duration: 0.8s;
  font-size: 1.5rem;
  background-color: #2F4F4F;
}

@keyframes containerLogin {
  0% {
    left: 50vw;
  }
  100% {
    left: 0;
  }
}
.contentLogin{
  width: 95%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}
.Input{
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 60%;
  gap: 5%;
}
.Button{
  width: 25%;
  height: 10%;
}
.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}